---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "NivBlogs";
const description = "";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Welcome to NivBlogs</h1>
      <p>Explore the colorful blogs !!</p>
      <div class="button">
        <a href="/blog">Start Reading</a>
      </div>
    </div>

    <div class="hero-image-container">
      <picture>
        <lottie-player
          class="hero-image"
          src="https://assets3.lottiefiles.com/packages/lf20_3vc9btr6.json"
          background="transparent"
          speed="1"
          style="width: 500px; height: 500px;"
          loop
          autoplay
        />

        <!-- <img class="hero-image" alt="Illustration of person reading a book" src="/assets/home-illustration-small.webp" width="550" height="466"> -->
      </picture>
      <p class="caption">
        Developed by
        <a href="https://puravmehta.nivblogs.com/" target="_blank" rel="noopener"
          >Purav Mehta
        </a>
        With
        <a rel="noopener">Love!</a>
      </p>
    </div>
  </div>
  <script
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  ></script>
  <script>
    const btn = document.getElementById("btn");
    btn.addEventListener("click", () => {
      location.href = "https://facebook.com";
    });
  </script>
</BaseLayout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
  .home-copy p {
    font-family: "Montserrat", sans-serif;
  }

  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
    font-family: "Montserrat", sans-serif;
  }
  .button {
    margin-top: 45px;
  }
  .button a {
    padding: 12px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
    transition: background-color 0.3s ease 0s;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
  }
  .button a:hover {
    background-color: var(--button-hover);
    color: white;
  }
  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
